#header_language{
    justify-content: flex-end;
}
.text_form{
    font-size: 70px;
  }
  .block_song_info .info_song{
	font-size: 70px;
  }
  .page_category{
    .row .main{
    
      h2{
        font-size: 70px;
      }
    }
  }
  .select_button{
    select{
      width: 338px;
    }
  }